[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

tweepy = "*"
"mastodon.py" = "*"


[dev-packages]

pytest = "*"
pytest-mock = "*"
"pytest-flake8" = "*"
mypy = "*"
"flake8" = "*"
pytest-stepwise = "*"
pytest-xdist = "*"
bpython = "*"
"flake8-colors" = "*"
"flake8-commas" = "*"
"flake8-import-order" = "*"
"flake8-docstrings" = "*"
pytest-cov = "*"
coverage = "*"
codecov = "*"
