{
	"twitter": {
		"consumer_key": "",
		"consumer_secret": "",
		"access_token": "",
		"access_token_secret": ""
	},
	"mastodon": {
		"client_key": "",
		"client_secret": "",
		"access_token": "",
		"api_base_url": ""
	}
}
